backend:
  name: git-gateway
  branch: master
media_folder: public/img/uploads
public_folder: /img/uploads
collections:
  - name: "pages"
    label: "Pages"
    files:
      - label: "Home"
        name: "home"
        file: "content/home.md"
        fields:
          - {label: "Title", name: "title", widget: "string"}
      - label: "About"
        name: "about"
        file: "content/about.md"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "About", name: "about", widget: "markdown"}
      - label: "Projects"
        name: "projects"
        file: "content/projects.md"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - label: "Project"
            name: "project"
            widget: "list"
            fields:
              - {
                  label: "Title",
                  name: "title",
                  widget: "string",
                  required: true,
                }
              - {label: "Image", name: "image", widget: "image", required: true}
              - {
                  label: "Datetime",
                  name: "datetime",
                  widget: "datetime",
                  required: true,
                }
              - {
                  label: "Body",
                  name: "body",
                  widget: "markdown",
                  required: true,
                }
      - label: "Page4"
        name: "page4"
        file: "content/page4.md"
        fields:
          - {label: "Title", name: "title", widget: "string"}
  - label: "Blog"
    name: "blog"
    folder: "content/blogs"
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string", required: true}
      - {
          lable: "Publish Date",
          name: "date",
          widget: "datetime",
          required: true,
        }
      - {label: "Image", name: "image", widget: "image", required: true}
      - {
          label: "Description",
          name: "description",
          widget: "text",
          required: true,
        }
